In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine, inspect
import pymysql
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float
from warnings import filterwarnings
filterwarnings('ignore', category=pymysql.Warning)

In [2]:
data_file=os.path.join("Resources", "clean_hawaii_measurements.csv")

In [3]:
measurements_df=pd.read_csv(data_file)

In [4]:
data_file=os.path.join("Resources", "clean_hawaii_stations.csv")

In [5]:
stations_df=pd.read_csv(data_file)

In [6]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [7]:
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [8]:
engine = create_engine('sqlite:///hawaii.sqlite')

In [9]:
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [10]:
Base.metadata.create_all(engine)

from sqlalchemy.orm import Session
session = Session(bind=engine)

#Confirm tables were created and check the columns

In [11]:
inspector = inspect(engine)

In [12]:
inspector.get_table_names()

['measurements', 'stations']

In [13]:
columns = inspector.get_columns('measurements')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station VARCHAR(255)
date VARCHAR(255)
prcp FLOAT
tobs INTEGER

In [14]:
columns = inspector.get_columns('stations')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station VARCHAR(255)
name VARCHAR(255)
latitude FLOAT
longitude FLOAT
elevation FLOAT

#Load the date from the pandas dataframes into the sqlite database

In [15]:
measurements_df.to_sql(name='measurements', con=engine, if_exists='append', index=False)

In [16]:
stations_df.to_sql(name='stations', con=engine, if_exists='append', index=False)

In [9]:
measurements_df.describe()

               prcp          tobs
count  18103.000000  18103.000000
mean       0.160644     72.994863
std        0.468746      4.512107
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000