In [7]:
import time
from splinter import Browser
from bs4 import BeautifulSoup
from sys import platform
if platform == "darwin":
    executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
else:
    executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser("chrome", **executable_path, headless=False)
import pandas as pd

In [10]:
mars_news = "https://mars.nasa.gov/news/"
browser.visit(mars_news)
time.sleep(1)
html = browser.html
mars_soup = BeautifulSoup(html, "html.parser")
title = mars_soup.find('div',class_="content_title")
title_text = title.find_all("a")
news_title=title_text[0].text
body = mars_soup.find('div',class_="article_teaser_body")
news_p = body.text

print (news_title)
print (news_p)

Mars Curiosity Celebrates Sol 2,000
NASA's Mars Curiosity rover just hit a new milestone: its two-thousandth Martian day on the Red Planet. An image mosaic taken recently offers a preview of what comes next.

In [37]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(7)
browser.click_link_by_partial_text('more info')
time.sleep(7)
img_soup = BeautifulSoup(browser.html, "html.parser")
image = img_soup.find(class_='content_page module')
images = image.find_all('a')
featured_image_url=images[1]['href']
print (featured_image_url)

/spaceimages/images/largesize/PIA17767_hires.jpg

In [24]:
mars_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather)
html = browser.html
weather_soup = BeautifulSoup(html, "html.parser")
tweet = weather_soup.find_all(class_="js-tweet-text-container")
tweet_text = tweet[1].find("p")
mars_weather=tweet_text.text
mars_weather

'Sol 1994 (March 16, 2018), Sunny, high -6C/21F, low -75C/-103F, pressure at 7.18 hPa, daylight 05:33-17:23'

In [3]:
url = 'https://space-facts.com/mars/'

In [4]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 째C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
mars_facts_df=tables[0]
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [6]:
mars_facts_df.columns=["Fact","Data"]
mars_facts_df

                   Fact                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [7]:
mars_facts_df.set_index('Fact', inplace=True)
mars_facts_df

                                               Data
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 째C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [8]:
html_mars_facts = mars_facts_df.to_html()
html_mars_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Data</th>\n    </tr>\n    <tr>\n      <th>Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 째C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [9]:
html_mars_facts.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Data</th>    </tr>    <tr>      <th>Fact</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 째C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [25]:
hemisphere_list = ['Cerberus', 'Schiaparelli', 'Syrtis Major', 'Valles Marineris']
hemisphere_img_urls = []
temp_dict = {}
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
for hemisphere in hemisphere_list:
    browser.visit(url)
    html = browser.html
    browser.click_link_by_partial_text(hemisphere)
    time.sleep(7)
    browser.click_link_by_partial_text('Open')
    time.sleep(7)
    img_soup = BeautifulSoup(browser.html, "html.parser")
    image = img_soup.find(class_="wrapper")
    image_list = image.find(class_="wide-image")
    hemisphere_url = image_list["src"]
    temp_dict ={'title':hemisphere+' Hemisphere','img_url':hemisphere_url}
    hemisphere_img_urls.append(temp_dict)
hemisphere_img_urls

[{'img_url': '/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere'},
 {'img_url': '/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
  'title': 'Schiaparelli Hemisphere'},
 {'img_url': '/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
  'title': 'Syrtis Major Hemisphere'},
 {'img_url': '/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere'}]