In [6]:
import pandas as pd
import glob
import os
import numpy as np

In [7]:
path = r"D:\BootCampDataFiles\Homework\Homework #16 Tableau\raw data\testdata"
allFiles = glob.glob(os.path.join(path,"*.csv"))


np_array_list = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    np_array_list.append(df.as_matrix())

comb_np_array = np.vstack(np_array_list)
big_frame = pd.DataFrame(comb_np_array)

big_frame.columns = ["tripduration","starttime","stoptime","start_station_id","start_station_name","start_station_lat",
                     "start_station_lon","end_station_id","end_station_name","end_station_lat","end_station_lon","bikeid",
                     "usertype","birth year","gender"]

In [8]:
big_frame.shape

(19947663, 15)

In [9]:
big_frame.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_lat,start_station_lon,end_station_id,end_station_name,end_station_lat,end_station_lon,bikeid,usertype,birth year,gender
0,328,2016-10-01 00:00:07,2016-10-01 00:05:35,471,Grand St & Havemeyer St,40.7129,-73.957,3077,Stagg St & Union Ave,40.7088,-73.951,25254,Subscriber,1992,1
1,398,2016-10-01 00:00:11,2016-10-01 00:06:49,3147,E 85 St & 3 Ave,40.778,-73.9541,3140,1 Ave & E 78 St,40.7714,-73.9535,17810,Subscriber,1988,2
2,430,2016-10-01 00:00:14,2016-10-01 00:07:25,345,W 13 St & 6 Ave,40.7365,-73.997,470,W 20 St & 8 Ave,40.7435,-74,20940,Subscriber,1965,1
3,351,2016-10-01 00:00:21,2016-10-01 00:06:12,3307,West End Ave & W 94 St,40.7942,-73.9741,3357,W 106 St & Amsterdam Ave,40.8008,-73.9664,19086,Subscriber,1993,1
4,2693,2016-10-01 00:00:21,2016-10-01 00:45:15,3428,8 Ave & W 16 St,40.741,-74.0017,3323,W 106 St & Central Park West,40.7982,-73.9606,26502,Subscriber,1991,1

In [10]:
big_frame.to_csv(r'D:\BootCampDataFiles\Homework\Homework #16 Tableau\raw data\testdata\10_2016_to_2017_tripdata.csv')